:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serifm, 'Quicksand';
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /*color: #a9a9a9;*/
    cursor: default;
    background-color: #212020;
    /*background-color: #242424;*/
    /*background-color: black;*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.home-container {
    text-align: center;
}

.box-container {
    background: linear-gradient(135deg, #ddfec8 0%, #86bc7b 100%);
    padding: 2rem 4rem;
    width: 20rem;
    margin: 10rem auto 3rem;
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
    text-align: center;
}

#logo {
    right: 20%;
    width: 20rem;
    height: auto;
    transition: filter 0.2s;

    margin-bottom: 1.5rem;

    border-radius: 2rem;
}

#logo:hover {
    filter: drop-shadow(0 0 1em rgba(89, 132, 94, 0.67));
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 5%;
    justify-content: center;
}

.social-icons a {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #adf98e;
}

.slogan-container {
    text-align: center;
    display: inline-block;
}

.slogan {
    position: relative;
    display: inline-block;
    height: 1.2em;
    white-space: nowrap;
}

.text {
    position: fixed;
    transition: opacity 0.3s;
    white-space: nowrap;
    text-align: center;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

footer {
    text-align: center;
    color: #c9f1a4;
    padding: 1.2rem 0;
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-top: 2rem;
}
