.products-box {
    height: 635px;
    width: 1055px;
}

.products-box .rectangle {
    background-color: #2A2929;
    border-radius: 80px;
    height: 635px;
    width: 1055px;
    position: fixed;
    top: 122px;
    left: 170px;
    padding: 48px;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

/* card */
.rectangle-box {
    background-color: #2A2929;
    border-radius: 28px;
    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 16px;
    gap: 12px;
}

.img-skeleton,
.text-skeleton {
    background-color: #3a3a3a;
}


.img-skeleton {
    width: 173px;
    height: 193px;
    background-color: #3f3f3f;
    border-radius: 22px;
}

.text-skeleton {
    width: 114px;
    height: 19px;
    background-color: #444;
    border-radius: 999px;
}
