---
import BaseHeader from "../components/BaseHeader.astro";
import Navigator from "../components/Navigator.astro";
import BaseFooter from "../components/BaseFooter.astro";
---

<html lang="ko">
<head>
    <BaseHeader />
    <title>GrassProject</title>
</head>
<body>
<div class="container" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <slot />

    <Navigator/>

    <div class="login" id="login-container"></div>

    <BaseFooter/>
</div>

<script>
    import Cookies from "js-cookie";
    import { url } from "../consts.ts";

    const redirectUri = `${url}/callback`;
    const discordLoginUrl = `https://discord.com/oauth2/authorize?client_id=1358603949015564449&response_type=code&redirect_uri=${encodeURIComponent(
        redirectUri
    )}&scope=email+identify+openid`;

    const container = document.getElementById("login-container");
    const storedUser = Cookies.get("user");
    const storedLoggedIn = Cookies.get("isLoggedIn");

    if (!container || !storedUser || !storedLoggedIn) return;

    if (storedUser && storedLoggedIn === "true") {
        const user = JSON.parse(storedUser);
        container.innerHTML = `
          <div class="user-info">
            <span class="user-text">Welcome, ${user.global_name || "User"}</span>
            <button id="logout-btn" class="round-btn logout-btn">
              <span class="btn-text">Logout</span>
            </button>
          </div>
        `;

        document.getElementById("logout-btn")?.addEventListener("click", () => {
            Cookies.remove("user");
            Cookies.remove("isLoggedIn");
            location.reload();
        });
    } else {
        container.innerHTML = `
          <a href="${discordLoginUrl}" class="round-btn login-btn">
            <span class="btn-text">Login</span>
          </a>
        `;
    }
</script>
</body>
</html>
