---
---

<div class="about-container">
    <div class="description">
        <h1 style="color: #f9f9f9;">Developing Minecraft</h1>
        <div class="rotate">
            <h1 id="rotate-text" class="rotate-text"></h1>
        </div>
    </div>
    <div class="members-des">
        <div class="avatar-item">
            <img src="/assets/86117029.png" alt="" class="avatar"/>
            <h3>apo2073</h3>
        </div>

        <div class="avatar-item">
            <img src="/assets/201346155.png" alt="" class="avatar"/>
            <h3>MrJimin</h3>
        </div>

        <div class="avatar-item">
            <img src="/assets/179858849.png" alt="" class="avatar"/>
            <h3>wayggstar</h3>
        </div>
    </div>
</div>

<script>
    import { animate } from '@motionone/dom';

    const rotateTexts = ['Plugin', 'Server'];
    let currentIndex = 0;

    function updateText(rotateTextEl) {
        rotateTextEl.textContent = rotateTexts[currentIndex];
        animate(rotateTextEl,
            { opacity: [0, 1], y: [-20, 0] },
            { duration: 0.5 }
        );
        currentIndex = (currentIndex + 1) % rotateTexts.length;
    }

    window.addEventListener('DOMContentLoaded', () => {
        const rotateTextEl = document.getElementById('rotate-text');
        if (!rotateTextEl) return;
        updateText(rotateTextEl);
        setInterval(() => updateText(rotateTextEl), 2000);
    });
</script>

<style>
    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        margin-bottom: 5rem;
        gap: 2rem;
    }
    .description {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        text-align: center;
        justify-content: center;
    }
    .rotate {
        background-color: #ceff78;
        border-radius: 1rem;
        max-width: 150px;
        padding: 0.5rem 1rem;
        overflow: hidden;
        position: relative;
        perspective: 1000px;
        min-height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rotate-text {
        margin: 0;
        transform-style: preserve-3d;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        color: #000000;
    }
    .members-des {
        display: flex;
        gap: 2.5rem;
        justify-content: center;
        align-items: flex-start;
    }
    .avatar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        width: 100px;
        border-radius: 1rem;
        margin-bottom: 1rem;
        transition: filter 0.2s;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
    }
    h3 {
        margin: 0;
        font-size: 1.1rem;
        color: #efffd3;
        font-weight: 600;
        letter-spacing: 0.03em;
    }
</style>
